.content {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0px;
}
.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .textContainer {
    position: absolute;
    top: 25%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;   
  }

  .title {
    font-size: 74px;
    font-weight: 400;
    margin-bottom: 20px;
    /* text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);  */
  }

  .myClass {
    left: -1%;
    line-height: 1.5;
    position: relative;
    font-size: 22.59px;
  }

  .myClass::after {
    content: "";
    position: absolute;
    left: 25%;
    bottom: -10px;
    transform: translateX(-50%);
    height: 2px;
    width: 50%;
    background: #e98f2d; 
  }

  .columnsContainer {
    width: 55%;
    position: absolute;
    top: 58%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: justify; 
    gap: 10px;

  }
 
  .rightColumn {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: end;
  }

  .subtitle {
    font-size: 74px;
    font-weight: 400;
    text-align: left; 
    margin: 20px;
    /* text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);  */
  }

  .leftColumn {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .text{
    font-size: 22.59px;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: justify;
    line-height: 1.5;


  }
  .imagecontainer {
    width: 100%;
    height: auto;
  }
  
  .overlayText {
    position: absolute;
    color: white;
  }

  .newContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    background-color: white;
    margin-top: 100px;
  }
  

  .newTitle {
    font-size: 40px;
    font-weight: 400;
    text-align: center; 
    margin: 20px 20px 40px;   
    color: #e98f2d;

  }

  .newParagraph {
    width: 70%;
    padding: 20px;
    margin: 20px 0;
  }

  .paragraph{
    font-size: 22.59px;
    text-align: center;
    margin: 0 40px;
    font-weight: 400; 
    line-height: 1.5;
    color: #000000;
  }

  .iconContainer {
    display: flex;
    justify-content: center;
    margin-top: 40px; 
  }
  
  .icon {
    margin: 0 50px; 
  }

  .containerBanner{
    position: relative;
    margin-top: 170px;
  }

  .paragraph2{
      position: absolute;
      top: 50%;
      right: 50%;
      left: 10%;
      text-align: justify;
      transform: translateY(-50%);
      font-size: 44.89px;
      line-height: 1; 
      font-weight: 400;
      line-height: 1.2;
  }

  .newContainer2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 40px 0;
    padding: 0 50px;
    margin-top: 60px;
  }
  
  .textContainer2 .image1{
    margin-bottom: 50px;
  }
  .textContainer2 {
    width: 50%; 
    height: auto; 
   
  }
  .image1{
    width: 35%;
    height: auto;
    right: 20%;
  }

  .title1 {
    font-size: 74px;
    font-weight: 400;
    text-align: left; 
    color: #05526D;
    margin: 0 40px;
    margin-bottom: 10px;
    line-height: 1.2;
  }

  .subtitle1 {
    font-size: 74px;
    font-weight: 700;
    text-align: left; 
    color: #000000;
    margin: 0 40px;
    margin-bottom: 20px;
    line-height: 1.2;
  }

  .paragraph1{
    font-size: 22.59px;
    text-align: justify;
    margin: 0 40px;
    font-weight: 400; 
    line-height: 1.5;
    color: #000000;
    margin-top: 70px;
  }

  /* .logosEmpresas{
    width: 100%;
    position: absolute;
    margin-top: 100px;
    top: 260%;
    bottom: 0;
    left: 0;
    right: 0
  } */

  .newContainer3{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 40px 0;
    padding: 0 50px;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 40px;
    margin-right: 90px;
  }

  .image2{
    width: 45%;
    height: auto;
    left: 20%;
  }

  .textContainer3 {
    width: 50%; 
    height: auto; 
   
  }

  .subtitle2 {
    font-size: 74px;
    font-weight: 700;
    text-align: left; 
    color: #e98f2d;
    margin: 0 40px;
    margin-bottom: 20px;
    line-height: 1;
  }

  .paragraph3{
    font-size: 22.59px;
    text-align: justify;
    margin: 0 40px;
    font-weight: 400; 
    line-height: 1.5;
    color: #000000;
  }

