/* imageSection.module.css */
.imageSection {
    background-image: url('../assets/banners/Banner_conocenos.png');
    background-size: cover;
    background-position: center;
    height: 300px; 
    width: 100%;
    display: flex;
    align-items: center;
    min-height: 100vh;
  }
  
  .content {
    text-align:left;
    color: white;
    margin: 20px;
    padding: 10vh;
  }
  
  .title {
    font-family: 'AvertaStd-Extrabold';
    font-size: 58px;
    line-height: 1; 
    font-weight: 400;
    letter-spacing: 0;
    margin: 0; 
  }
  
  .description {
    font-family: 'Averta-Regular';
    font-size: 25px;
    line-height: 1; 
    font-weight: 400;
    letter-spacing: 0;
    margin: 0; 
  }
  
  .button {
    background: rgba(0, 0, 0, 0.5); 
    border: 1px solid;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s;
    margin: 20px 20px 0;
    margin-bottom: 10px;
    color: white; 
  }
  
  .button:hover {
    background: rgba(0, 0, 0, 0.7); 
  }
  