.container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

    margin-bottom: 20px;
    background-color: #EAEAEA;
  }

  .imageContainer {
    position: relative;
    width: 100%; /* Asegura que el contenedor de la imagen no sea más grande que su contenedor padre */
    overflow: hidden; /* Oculta cualquier contenido que se salga del contenedor de la imagen */
  }
  
  .imageContainer img {
    max-width: 100%; /* Asegura que la imagen no sea más grande que su contenedor */
    height: auto; /* Mantiene la relación de aspecto de la imagen */
  }
  .titleIcon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    font-family: 'AvertaStd-Black',Helvetica,Arial,Lucida,sans-serif;
    align-items: center;
    gap: 10px;
  }

  .titleIcon img{
    width: 8rem;
    height: 8rem;
  }

  .text p {
    font-size: 35px;
    color: #05526D;
    text-align: keft;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: 'avertaStd-ExtraBold';
  }

  .brandsgrid {

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
  }
  
  .brandsgrid div {
    background: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  }
  
  /* .brandsgrid div img {
    width: 100%;
    height: auto;
  } */
  
  /* .brandsgrid div .card-title {
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
  } */

  .card-body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: none;
  }
  
  .card-body .main-image {
    max-width: 100%;
    height: auto;
  }
  
  .card-body .minicon {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20px; /* Ajusta este valor según tus necesidades */
    height: auto;
  }