/* footer.module.css */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    background-color: #333;
    color: white;
    text-align: center;
    flex-wrap: wrap;
    position: relative;
    min-height: 100vh;
  }

  .contactInfo,
  .formSection {
    flex: 1;
    text-align: left;
    padding: 20px;
    font-size: 20px;
  }

  .contactInfo {
    margin-left: 50px;
    padding: 10vh;

  }

  .formTitle {
    font-size: 30px;
    font-family: 'AvertaStd-Bold', sans-serif;
    margin-bottom: 20px;
  }
  
  .contactColumn {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .formGroup {
    margin-bottom: 10px;
    display: inline-block;
    flex: 1;
  }
  
  form input,
  form textarea {
    width: 100%;
    font-size: 18px;
    max-width: 200px;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #777;
    border-radius: 5px;
  }
  
  form button {
    background-color: #e98f2d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    display: block;
    cursor: pointer;
    margin-top: 10px;
  }
  
  form button:hover {
    background-color: #0056b3;
  }

  .socialMedia {
    margin-top: 20px;
  }
  
  .footerIcons {
    text-align: left;
    margin-top: 20px;
  }
  
  .footerIcons a {
    text-decoration: none;
    color: white;
    margin: 10px;
    font-size: 24px;
  }
  
  .footerText {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .text1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  .text2 {
    margin-bottom: 2rem;
  }

.inlineInput {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}