.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 240px 240px;
    gap: .6px;
    margin-top: 30px;
}

.grid-item{
  position: relative;
  overflow: hidden;
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  text-align: left;
  overflow: hidden;
}


.content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);

}

.title {
  color: #fff; 
  font-size: 31px; 
  font-weight: 400;
  margin-top: 20px; 
  margin: 20px 20px 0;

}

.text {
  padding: 60px 0; 
}

.text h3 {
  color: #e98f2d; 
  font-size: 49.891px; 
  font-weight: 400;
  margin-bottom: 20px; 
  line-height: 1;
  text-align: center;
}

.text p {
  color: #000000; 
  font-size: 29px; 
  font-weight: 400;
  text-align: center;
}

.boton {
  background: rgba(0, 0, 0, 0.5); 
  border: 1px solid  #fff;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 50px;
  transition: background-color 0.3s;
  margin: 20px 20px 0;
  margin-bottom: 25px;
  font-size: 22.307px;
}

.boton:hover {
  background: rgba(0, 0, 0, 0.7);
}