.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 80vh;
    gap: 0px;
    margin-bottom: 30px;
    align-items: stretch;
  }
  
  .grid-item {
    height: 100%;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  
  .title{
    font-size: 38px;
    margin: 55px 20px;

  }
  
  .subtitle{
    font-size: 40px;
    margin: 0 20px;
  }
  
  .boton {
    background: #e98f2d; 
    padding: 10px 40px;
    cursor: pointer;
    border-radius: 50px;
    transition: background-color 0.3s;
    margin: 20px 20px 0;
    font-size: 43.942px;
    border: none;
    color: #fff;
  }
  
  .boton:hover {
    background: rgba(0, 0, 0, 0.7); 
  }
  